$app-color: #e92440;
$link-color: #0274a9;


//content
.content {
    &__header {
        color: $app-color;
        font-size: 22px;
        padding-top: 30px;
       
    }

    &__paragraph {
        font-size: 14px;
    }
}

//section


    //step---1
   

    // Step---2

 

    // //step---4
   

    //Step---4



//sidebar
