.section__header2 h2 {
    padding-top: 30px;
}

.form-control {
    background-color: rgb(245, 245, 245);
    border-width: 0px 0px 1px;
    border-color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 26px 0px 7px 10px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 10px;
    line-height: 24px;
}

.error-message {
    color: rgb(233, 36, 64);
}